@use '../variables/colors.scss'as colors;
@use '../../styles/variables/screen-sizes.scss'as screen-sizes;

footer {
    padding-left: 5%;
    background-color: black;
    display: flex;
    flex-direction: row;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        margin-left: 10%;
        margin-right: 10%;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;

        @media only screen and (max-width: screen-sizes.$width-phone) {
            flex-direction: column;
        }

        li {
            a {
                color: white;
                font-size: 1.5rem;
                font-weight: bold;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}