@use '../../styles/variables/colors.scss'as colors;
@use '../../styles/variables/screen-sizes.scss'as screen-sizes;

#home-first {
    height: 100vh;
}

#home {
    color: white;
    position: relative;


    #hero {
        color: white;
        position: relative;

        &>img {
            width: 100%;
            height: 100vh;
            object-fit: cover;

            @media only screen and (max-width: screen-sizes.$width-tablet) {
                width: 100vw;
            }
        }

        section {
            font-size: 2.2rem;
            padding: 70px 5% 120px 5%;
            background-color: colors.$four-color-transparent;
            position: absolute;
            bottom: 20vh;
            left: 10vh;
            font-weight: bold;
            line-height: 1.5;
            width: 55%;

            @media only screen and (max-width: screen-sizes.$width-tablet) {
                width: auto;
                left: 0;
            }

            @media only screen and (max-width: screen-sizes.$width-phone) {
                padding: 2rem;
                bottom: 0;
                font-size: 1.6rem;
                display: flex;
                flex-direction: column;
            }
        }

        & button:nth-child(1) {
            position: absolute;
            right: 1rem;
            bottom: 1rem;

            @media only screen and (max-width: screen-sizes.$width-phone) {
                position: static;
                margin-bottom: 0.5rem;
                margin-top: 1rem;
            }
        }

        & button:nth-child(2) {
            position: absolute;
            right: 17rem;
            bottom: 1rem;

            @media only screen and (max-width: screen-sizes.$width-phone) {
                position: static;
            }
        }
    }

    & button {
        background-color: colors.$tiertiary-color;
        border: 0;
        color: white;
        padding: 20px 30px;
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background-color: transparentize(colors.$tiertiary-color, 0.2);
        }

        a {
            text-decoration: none;
            color: white;
        }

        @media only screen and (max-width: screen-sizes.$width-phone) {
            font-size: 1.4rem;
        }
    }

    #intro {
        display: flex;
        flex-direction: row;
        height: 100vh;

        @media only screen and (max-width: screen-sizes.$width-phone) {
            height: auto;
            flex-direction: column;
        }

        &>section {
            margin: 10vh;
            font-size: 2rem;

            @media only screen and (max-width: screen-sizes.$width-tablet) {
                margin: 2rem;
            }

            @media only screen and (max-width: screen-sizes.$width-phone) {
                margin: 0 2rem;
            }
        }

        img {
            width: 50vw;
            object-fit: cover;
            padding-top: 1rem;

            @media only screen and (max-width: screen-sizes.$width-phone) {
                font-size: 1.5rem;
                width: auto;
            }
        }

        h1 {
            @media only screen and (max-width: screen-sizes.$width-phone) {
                font-size: 1.5rem;
            }
        }
    }

    #whatwillyoudo {
        height: 100vh;
        position: relative;
        margin-top: 1rem;

        @media only screen and (max-width: screen-sizes.$width-phone) {
            height: auto;
        }

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }

        section {
            position: absolute;
            background-color: colors.$four-color-transparent;
            margin: 10vh;
            padding: 10vh;
            width: 60%;

            @media only screen and (max-width: screen-sizes.$width-tablet) {
                width: auto;
                margin: 2rem;
            }

            @media only screen and (max-width: screen-sizes.$width-phone) {
                padding: 2rem;
                padding-bottom: 5rem;
                position: relative;
            }
        }

        & button {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
        }

        h1 {
            @media only screen and (max-width: screen-sizes.$width-phone) {
                font-size: 1.5rem;
            }
        }
    }

    #newsletter {
        display: flex;
        flex-direction: row;
        height: 100vh;
        padding-top: 1rem;
        padding-bottom: 1rem;

        @media only screen and (max-width: screen-sizes.$width-phone) {
            height: auto;
            flex-direction: column-reverse;
        }

        img {
            width: 100%;
            object-fit: cover;

            @media only screen and (max-width: screen-sizes.$width-phone) {
                width: auto;
            }
        }

        &>section {
            margin: 10vh;
            font-size: 2rem;

            @media only screen and (max-width: screen-sizes.$width-tablet) {
                margin: 2rem;
            }
        }

        h1 {
            @media only screen and (max-width: screen-sizes.$width-phone) {
                font-size: 1.5rem;
            }
        }
    }
}