@use '../../styles/variables/colors.scss'as colors;

#home-first {
    height: 100vh;
}

#home_body {
    #hero {
        position: relative;

        &>img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }

        section {
            color: white;
            font-size: 2rem;
            padding: 60px 10%;
            background-color: colors.$four-color-transparent;
            position: absolute;
            bottom: 0;
            font-weight: bold;
            line-height: 1.5;
        }
    }
}