$primary-color: #466a62;
$secondary-color: #6f9d48;
$tiertiary-color: #549152;
$four-color: #486a46;
$four-color-transparent: #486a46eb;

//blues
$blue-one: rgb(57 90 118);
$blue-two: rgb(48, 108, 161);
$blue-three: rgb(68 133 190);